<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name='description' content='CV,履歷表' />
  <meta name= "keywords" content = " HTML, CSS, Resume">
  <meta name =" author" content =" Tansy C. Hu">
  <meta http-equiv ="refresh" content ="45">
  
  <title>Resume - Tansy C. Hu </title>

  <link rel="shortcut icon" href="./assets/images/favicon_io (1)/favicon.ico">
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
 <div class="wrap">
  <header class="header">
    <div class="header-profile">
      <img class="header-profile-image" src="./assets/images/Tansy.JPG" alt="profile-image">
      <h1 class="header-profile-name">Tansy C. Hu</h1>
      <h4>subarashii-huch09</h4>
      <h3>Front End Developer</h3>
    </div>
    <ul class="header-contact">
      <li>
        <img class="icon" src="./assets/images/Icon-location.png" alt="Icon-location">
        <a href="#">Kaohsiung / Auckland </a>
      </li>
      
      <li>
        <img class="icon" src="./assets/images/Icon-mail.png" alt="Icon-mail">
        <a href="mailto:cwhu823@icloud.com">cwhu823@icloud.com </a>
      </li>

      <li>
        <img class="icon" src="./assets/images/icon-github.png" alt="icon-github">
        <a href="wwww.https://github.com/subarashii-huch09" target ="_blank">subarashii-huch09 </a>
      </li>
    </ul>
  </header>
  

  <%- contents %>

  <footer class="footer">
    <p class="footer-copyright">© 2022 Tansy C.Hu .ALL RIGHTS RESERVED</p>
  </footer>
  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
