*,*::after,*::before {
  box-sizing: border-box;
  
  & body {
    font-family:'Microsoft JhengHei', "微軟正黑體",'Times New Roman', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}

a {
  text-decoration: none;
}