.wrap {
  width: 1025px;
  margin: 0 auto;
  background:rgba(19, 40, 145, 0.05);
}

.header {
  padding-top:125px;
  padding-left: 135px;
  margin-bottom: 132px;
  height: 400px;
  background-image:url(/images/img-headerShape.png);
  background-size:cover;
  display: flex;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-profile-image{
    height: 165px;
    width: 155px;
    border-radius: 50%;
  }

  .header-profile-name {
  padding:9px;
  font-size: $fz-42;
  line-height:$lh-56;
}
  h4,h3 {
    font-size: $fz-14;
    line-height: $lh-19;
    color: $grey-prim;
    margin-bottom: 8px;
  }
}

.header-contact {
    margin-left: 90px;

    li {
      margin-bottom: 30px;
      display: flex;
      align-items:center;
      justify-content: flex-start;
      
      a {
        color:$white;
        padding-left: 15px;
        &:hover {
          color:orange;
        }
      }
    }
  }


  .footer {
    background-image: url(/images/img-Looper-bg.png);
    padding-top: 34px;
    padding-bottom: 32px;

    .footer-copyright {
      font-size: $fz-16;
      line-height: $lh-21;
      text-align: center;
    }
    
  }