// font-size
$fz-10: 10px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-24: 24px;
$fz-42: 42px;

// color
$blue: #1736DC;
$orange:#F58D23;
$green: #539E43;
$purple: #6762A6;
$maroon: #8A1737;
$pink:#FB56BF;
$grey-prim: #4A4A4A;
$grey-light: #9B9B9B;
$white:#FFFFFF;
$timeline: #D8D8D8;
$box-shadow:#718093;



// line-height
$lh-14: 14px;
$lh-16: 16px;
$lh-18: 18px;
$lh-19: 19px;
$lh-21: 21px;
$lh-26: 26px;
$lh-32: 32px;
$lh-56: 56px;